<!DOCTYPE html> 
<html lang="en"> 
<head> 
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1" /> 
  <title>Eleventy SASS Alpine Starter</title> 
  <link rel="stylesheet" href="/assets/styles/main.css">
  {# Typeface #}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;500&display=swap" rel="stylesheet">
  {# Favicon #}
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/img/favicon/apple-touch-icon.png' | url }}">
  <link rel="icon" type="image/png" href="{{ '/assets/img/favicon/favicon-32x32.png' | url }}" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ '/assets/img/favicon/favicon-16x16.png' | url }}" sizes="16x16">
  <link rel="shortcut icon" href="{{ '/assets/img/favicon/favicon.ico' | url }}">
  <link rel="manifest" href="{{ '/site.webmanifest' | url }}">
</head> 
<body>