<p class="sidebar__title">About <a  href="/">This Blog</a></p>
<p class="sidebar__bio">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat, assumenda maxime quia ipsam velit atque cumque dolor voluptas excepturi.</p>

<div class="sidebar__topics">
  <ul>
    <p class="sidebar__topic-title">Web Development</p>        
    <li><a href="#">Link to Post Tag</a></li>
    <li><a href="#">Link to Post Tag</a></li>
    <li><a href="#">Link to Post Tag</a></li>    
  </ul>
</div>   